.DS_Store

#vim stuff
*~
*.swp

*.o
*.so
*.a
*.dylib

objs_shared/
objs_static/

examples/chat_server/chat_server
examples/echo_server/echo_server
examples/echo_server/echo_server

examples/echo_server/echo_server

examples/chat_client/chat_client

examples/chat_client/chat_client

test/basic/tests
