## 
## wsperf config file
## 

## MODE (choose one)
server = 1
#client = 1

## GLOBAL OPTIONS
num_threads = 2
#ident = "ident string to report to commander"

## OPTIONS FOR SERVER
port = 9501

## OPTIONS FOR CLIENT
## uri of command server
#uri = "ws://localhost:9005"