# files to be ignored:
# http://stackoverflow.com/questions/2538149/what-should-be-contained-in-a-global-subversion-ignore-pattern-for-visual-studio
# http://stackoverflow.com/questions/3922660/which-visual-c-file-types-should-be-committed-to-version-control
# http://msdn.microsoft.com/en-us/library/3awe4781%28v=VS.100%29.aspx

*.user
*.ncb
*.suo
*.sdf
*.opensdf
Debug
Release
examples/*.user
examples/*.ncb
examples/Debug
examples/Release
ipch/*
