<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>echo_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>websocketpp.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>websocketpp.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>websocketpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6DF1C4C1434A5940029A1B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6DF1C681434A7A30029A1B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6DF1C711434A8280029A1B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6DF1CD01435ED910029A1B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
